{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css" />
  {% block extra-meta %}{% endblock %}
</head>
<body>
  <div class="siteheader">
    <span class="sitetitle"><a href="{% url 'index' %}">World Cup 2018</a></span>
    <span class="sitenavbar">
      <a href="{% url 'games:forecasts' %}">Our forecasts</a> | <a href="{% url 'games:games' %}">Make your bets</a> |


      {% if request.user.email %}
        <a href="{% url 'accounts:profile' %}">User {{ request.user.first_name }}</a>
        <a href="{% url 'accounts:logout' %}">(logout)</a>
      {% else %}
        <a href="{% url 'accounts:login' %}">Join or sign-in</a>
      {% endif %}

    </span>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
  {% block extra-js %}{% endblock %}
</body>
</html>
