{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=900px,initial-scale=1">

  <title>{% block title %}{% endblock %}</title>

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type = "text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type = "text/css">
  <link rel="stylesheet" href="/static/style1.css" />
  <link rel="stylesheet" href="/static/style_add.css" />

  <link rel="stylesheet" href="/static/jquery-ui-1.12.1/jquery-ui.css">
  <script src="/static/jquery-1.12.4.js"></script>
  <script src="/static/jquery-ui-1.12.1/jquery-ui.js"></script>
  <script src="/static/jquery.ui.touch-punch.min.js"></script>

  {% block extra-head %}{% endblock %}
  <title>My test page</title>
</head>
<body>

<!--
<div style="clear: both;" id="navbar">
  <a href="{% url 'index' %}">Fifa Experts</a>
  <a style="margin-top:0;padding-right:10px;" href="http://www.previsaoesportiva.com.br">Português</a>
  <a class="alignright" href="http://twitter.com/intent/tweet?text=[TWEET_CONTENT_GOES_HERE]" onclick="window.open(this.href, 'twitterwindow','left=20,top=20,width=600,height=300,toolbar=0,resizable=1'); return false;"><img src="/static/images/tweetlogo.png"/></a>
  <a class="alignright" href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=[TITLE_GOES_HERE]&amp;p[summary]=[SUMMARY_GOES_HERE]&amp;p[url]=http://127.0.0.1:8000/games/&amp;p[images[0]=[IMAGE_GOES_HERE]" onclick="window.open(this.href, 'facebookwindow','left=20,top=20,width=600,height=700,toolbar=0,resizable=1'); return false;"><img src="/static/images/facebooklogo.png"/></a>
  {% if request.user.email %}
    <a class="alignright" href="{% url 'accounts:logout' %}">Log Out</a>
    <a class="alignright" href="{% url 'accounts:profile' %}">User {{ request.user.first_name }}</a>
  {% else %}
    <a class="alignright" style="margin-top:0;" href="{% url 'accounts:login' %}">Join or sign-in</a>
  {% endif %}
</div>
-->

  <div id="siteheader">
  <div id="sitetitle"><a href="{% url 'index' %}">Fifa Experts</a></div>
    <div id="siteuserbar">
      {% if request.user.email %}
        User {{ request.user.first_name }} |
        <a href="{% url 'accounts:profile' %}">View my profile</a> |
        <a href="{% url 'accounts:logout' %}">Log Out</a>
      {% else %}
        <a href="{% url 'accounts:login' %}">Join or sign-in</a>
      {% endif %}



  <a style="float: right; margin-top: -4px" href="http://twitter.com/intent/tweet?text=[TWEET_CONTENT_GOES_HERE]" onclick="window.open(this.href, 'twitterwindow','left=20,top=20,width=600,height=300,toolbar=0,resizable=1'); return false;"><img src="/static/images/tweetlogo.png" style="height: 30px" /></a>
  <a style="float: right; margin: -4px -2px 0 5px" href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=[TITLE_GOES_HERE]&amp;p[summary]=[SUMMARY_GOES_HERE]&amp;p[url]=http://127.0.0.1:8000/games/&amp;p[images[0]=[IMAGE_GOES_HERE]" onclick="window.open(this.href, 'facebookwindow','left=20,top=20,width=600,height=700,toolbar=0,resizable=1'); return false;"><img src="/static/images/facebooklogo.png" style="height: 30px" /></a>
    </div>
  </div>
  <div id="sitenavbar">
  </div>

   <div class="clear"></div>

  <div id="wrapper">
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>

  <div class="clear" style="height: 60px"></div>

  <div  id="footer">
    <a  href="{% url 'games:objectives' %}">Objectives</a>
    <a  href="{% url 'games:history' %}">History</a>
    <a  href="{% url 'games:contact' %}">People & contact</a>
    <a  href="{% url 'games:rules' %}">Rules</a>
    {% if request.user.email %}
      <a href="{% url 'accounts:logout' %}">Log Out</a>
    {% else %}
      <a href="{% url 'accounts:login' %}">Join or sign-in</a>
    {% endif %}
  </div>


</body>
</html>
