div[id^=slider-range_].ui-slider {
  background: #4184ad; /*#264C72*/
  border-radius: 4px 5px 5px 4px;
  /*border-color :black;*/
}

div[id^=slider-range_].ui-slider .ui-slider-handle {
  height:1.7em;
  width: 0.5em;
  top: -0.5em;
  background: #f6931f; /*#ced0e0*/
  border-radius: 4px 4px 4px 4px;
  border-color : #fff !important;
}

div[id^="slider_extra_div_"] {
  float: right;
  height: 100%;
  background: #a5a5c0; /*#d7daed; /*#d39d1f*/
  border-radius: 0px 4px 4px 0px;
}


.country_flags_0, .country_flags_1 {
  width: 80px;
  height: 50px;
  border: 1px dotted #e0e0e0;
  border-radius: 25px;
}

.country_flags_0 {
  float: left;
}

.country_flags_1 {
  float: right;
}

.slider_container {
  padding: 0 100px 0 100px;
}
