#siteheader {
  background: #339933;
  background: -webkit-linear-gradient(30deg, #006600, #339933);
  background: -o-linear-gradient(30deg, #006600, #339933);
  background: -moz-linear-gradient(30deg, #006600, #339933);
  background: linear-gradient(20deg, #006600, #137953);
  color: white;
  height: 28px;
  padding: 2px 23px 13px 15px;
}
#sitetitle {
  font-size: 33px;
  float: left;
}
#siteuserbar {
  float: right;
  font-size: 15px;
  margin-top: 11px;
}
#sitenavbar {
  padding-right: 10px;
  background: #53a953;
  text-align: left;
  padding: 3px 0 5px 15px;
  font-size: 15px;
}
#siteheader a, #sitenavbar a, #sitetitle,
#siteheader, #sitenavbar, #sitetitle, #pagetitle {
  color: #fcfce9;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}
li {
  padding:2px;
}
body {
  margin: 0px;
  background-color: #d0d0d0;
}
html, body {
  height: 90%;
}
#backgrounder{
  background-image: url("/static/grass-pattern.jpg");
  background-repeat: repeat;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
#content {
  background-color: #fcfcfc;
  margin: 10px 45px 15px 45px;
  border: 15px double #245524;
  border-radius: 45px;
  padding: 20px 30px 10px 30px;
  box-shadow: 6px 6px 3px #7777;
  min-height: 100%;
}

a.nounderline {text-decoration: none; }
