html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 18px; /* px means 'pixels': the base font size is now 10 pixels high  */
    width: : 800px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20%;
}
html, body {
    height: 80%;
}
#wrapper {
    min-height: 100%;
    width: 800px;
    margin: 0 auto;
    /* same height as footer */
    margin-bottom: -120px;
}
#wrapper:after {
    content:"";
    display: block;
}
#header {
    height: 200px;
    background: #FF0;
}
#footer, #wrapper:after {
    /* same height as wrapper negative margin */
    height: 60px;
    padding-top: 2%;
}
#footer {
    background: #ccc;
    text-indent: 16.5%;
}
#footer a {
    text-decoration: none;
    padding: 25px !important;
    vertical-align: middle;
}


h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: blue;
  /*text-shadow: 3px 3px 1px black;*/
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 20px 0;  
  color: blue;
  /*text-shadow: 3px 3px 1px black;*/
}

p {
  font-size: 18px; 
  line-height: 2;
  letter-spacing: 0px;
  width: 100%;
  text-align: justify;
  /*text-indent: 5%;*/
}

li {
  margin: 0;
  font-size: 18px;    
  line-height: 2;
  letter-spacing: 0px;
  text-align: justify;
  /*text-indent: 5%;*/
}

img {
  display: block;
  margin: 0 auto;
}

.clear { clear: both; height: 60px; }

@media screen and (min-width: 1000px){
#navbar {
    text-indent: 3%;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    height: 5%; 
    left: 0px;
    width: 100%; /* Full width */
    padding-top: 20px; 
    padding-bottom: 2px;
    border-bottom: 5px solid black;
    min-width: 1000px;
}}

/* Links inside the navbar */
#navbar a {
    /*color: #f2f2f2;*/
    text-decoration: none;
    padding-right: 25px !important;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
  margin-top: -5px;  
}
.aligncenter{
  text-align: center;
}
