body {
  width: 800px;
  margin: 0 auto ;
  /*background-color: #FF9500;*/
  /*padding: 0 20px 20px 20px;*/
  border: none;
}

.c-1-color { background: red; }
.c-2-color { background: white; }
.c-3-color { background: blue; }

#slider-color {
        width:75%;
        margin: 0 100px;
        }

html {
  font-size: 18px; /* px means 'pixels': the base font size is now 10 pixels high  */
  width: : 800px;
  font-family: 'Playfair Display', serif;
  /*font-family: 'Crimson Text', serif;*/
  /*background-color: #3F63BF;*/
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: blue;
  /*text-shadow: 3px 3px 1px black;*/
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 20px 0;  
  color: blue;
  /*text-shadow: 3px 3px 1px black;*/
}

p {
  font-size: 18px;    
  line-height: 2;
  letter-spacing: 0px;
  width: 800px;
  text-align: justify;
  /*text-indent: 5%;*/
}

li {
  margin: 0;
  font-size: 18px;    
  line-height: 2;
  letter-spacing: 0px;
  text-align: justify;
  /*text-indent: 5%;*/
}

img {
  display: block;
  margin: 0 auto;
}

#footer {
    text-indent: 16%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color: white;
    color: black;
    padding-top: 20px;
    border-top: 5px solid black;
} 


.clear { clear: both; height: 60px; }

@media screen and (min-width: 1000px){
#navbar {
    text-indent: 16.5%;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    height: 5%; 
    left: 0px;
    width: 100%; /* Full width */
    padding-top: 20px; 
    padding-bottom: 2px;
    border-bottom: 5px solid black;
    min-width: 1200px;
}}

/* Links inside the navbar */
#navbar a {
    /*color: #f2f2f2;*/
    text-decoration: none;
    padding-right: 25px !important;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
  margin-right: 6%;
  margin-top: -5px;  
}
.aligncenter{
  text-align: center;
}
