{% extends 'base.html' %}

{% block content %}
{% if games %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    activate_slider = function(objid, team0, team1, def_val0, def_val1) {
      def_val1 = 100 - def_val1
      $( function() {
        var updater = function( val0, val1 ) {
            var pwin0 = val0;
            var pwin1 = 100-val1;
            var ptie = val1-val0
            $( "#probs_humanread_" + objid ).html(
              "Win " + team0 + " %: " + pwin0 +
              " || Tie %: " + ptie +
              " || Win " + team1  +" %: " + pwin1);
            $( "#prob0_" + objid ).val(pwin0);
            $( "#prob1_" + objid ).val(pwin1);

            $( "#gain_team0_" + objid ).html((10000 - (100 - pwin0)**2)/1000);
            $( "#gain_team1_" + objid ).html((10000 - (100 - pwin1)**2)/1000);
            $( "#gain_tie_" + objid ).html((10000 - (100 - ptie)**2)/1000);
        }
        $( "#slider-range_" + objid ).slider({
          range: true,
          min: 0,
          max: 100,
          values: [ def_val0, def_val1 ],
          slide: function( event, ui ) {
            updater(ui.values[0], ui.values[1]);
          }
        });
        updater(def_val0, def_val1);
      });
    }
    updatebet = function(formid) {
      $.ajax({
        type: "POST",
        url: "{% url 'games:update_bet' %}",
        data: $('#sliderform_'+formid).serialize(),
        success: function(res){$("#sucess_area_" + formid).html("Updated!")},
        dataType: "html"
      });
    }
    $( function() {
      $( ".button" ).button();
    });
    </script>
    {% for game in games %}
    <ul> <div style="float: right"><a href="#" onclick="$('#sliderform_{{ forloop.counter }}').css('display', 'inline'); $('#yforecast_{{ forloop.counter }}').css('display', 'None'); return false;" class="button">Change bet for this game</a></div>
        <li>Game: {{ game.team0 }} vs {{ game.team1 }}.</li>

        <li>Our forecast:
            {% if game.forecast %}
            {{ game.forecast.prob0 }}% win {{ game.team0 }} ||
            {{ game.forecast.prob_tie }}% tie ||
            {{ game.forecast.prob1 }}% win {{ game.team1 }}.
            {% else %}
            not available.
            {% endif %}
        </li>

        <li>Your forecast:<span id="yforecast_{{ forloop.counter }}">
            {% if game.bet %}
            {{ game.bet.prob0 }}% win {{ game.team0 }} ||
            {{ game.bet.prob_tie }}% tie ||
            {{ game.bet.prob1 }}% win {{ game.team1 }}.
            {% else %}
            Not made yet.
            {% endif %}</span>



          <form id="sliderform_{{ forloop.counter }}" style="display: none" onsubmit="updatebet('{{ forloop.counter }}'); return false;">
          {% csrf_token %}
          <input type="hidden" id="prob0_{{ forloop.counter }}" name="prob0">
          <input type="hidden" id="prob1_{{ forloop.counter }}" name="prob1">
          <input type="hidden" name="gameid" value="{{ game.id }}">

          <p>
            <strong>Probabilities:</strong>
            <span id="probs_humanread_{{ forloop.counter }}" style="border:0; color:#f6931f; font-weight:bold; width: 1000px"></span>
          </p>

          <div id="slider-range_{{ forloop.counter }}" style="margin-top: 20px"></div>

          <ul style="margin-top: 10px">
            <li>
              If {{ game.team0 }} wins, you will get:
              <span id="gain_team0_{{ forloop.counter }}"></span> KP.
            </li>

            <li>
              If {{ game.team1 }} wins, you will get:
              <span id="gain_team1_{{ forloop.counter }}"></span> KP.
            </li>

            <li>
              If tie, you will get:
              <span id="gain_tie_{{ forloop.counter }}"></span> KP.
            </li>
          </ul>

          <input type="submit" value="Submit Changes" class="button" style="margin-top: 20px">
          <div id="sucess_area_{{ forloop.counter }}" style="margin-top: 20px; color: green; font-weight: bold"></div>
          </form>

        </li>

    </ul>
    <hr style="margin-top: 20px">
    <script>
    activate_slider({{ forloop.counter }},
                    "{{ game.team0 }}", "{{ game.team1 }}",
                    {{ game.bet.prob0|default:33 }},
                    {{ game.bet.prob1|default:33 }})
    </script>
    {% endfor %}

{% else %}
    <p>No game available.</p>
{% endif %}
{% endblock %}
