{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "History" %}{% endblock %}

{% block content %}
  	<h1>{% trans "History" %}</h1>
  	<h2>{% trans "Some words about football/soccer contest pools" %}</h2>

  	<p>{% trans "Gambling and betting are probably as old as mankind. Once sports events became popular, betting on its results brought still more attention to them. In Europe, specially in Great Britain, betting on sports events was already pretty popular in the late XIX century, but it was only in the 1920's that the first football pool" %}<sup><a href="#fn1" id="ref1">1</a></sup> {% trans "was created. These &ldquo;pools&rdquo; are private companies that sell the right to participate in a contest, in this case, related to results of upcoming football matches. In those days, everything was done in printed forms" %}<sup><a href="#fn2" id="ref2">2</a></sup>.</p>
  	<p> {% trans "Each week, a group of bettors would call a collector to pick-up the completed pools coupons along with the appropriate amount of money necessary to play. Then, a fresh set of coupons for the following week series of games would be left. One could also go to a betting post to fill these forms. They had a list of some of the week matches. The filled form was then posted to the pools firm, with a postal order or cheque for the sum staked (or &ldquo;invested&rdquo;, as the firms used to say). At the end of the weekend the results of the matches were announced on radio, television and published in the news­papers so that the bettors could take out the copy of his coupon and check their forecasts" %}.</p>
  	<p>{% trans "The first football pools company was Littlewoods, created by John Moores, Colin Askham and Bill Hughes in 1923. The concept of the classic pools was an instant hit with the public and it flourished until the start of the war in 1939. In 1946 normal service was resumed as the football league started up again. Fortunately for people wanting to try their luck (or skill), football pools were not outlawed or put out of business  but kept growing. It did not take long before competing companies were formed. Vernons Pools came on the scene in 1925, and in 1933, Zetters Pools became the third company to offer their services to players. In 1945, George Britten started his family football pool firm, Brittens Pools" %}.</p>
  	<p>{% trans "Starting in 1935, the &ldquo;penny points&rdquo; bet was the most popular contest. For each match, the bettor should mark a &ldquo;1&rdquo;, a &ldquo;2&rdquo; or a &ldquo;x&rdquo; to show that he thought the result of the match would be a home win, a visitor win or a draw, respectively. Home wins guessed correctly received 1 point, visitors wins received 2 points and draws received 3. The bet with highest scores won money prizes. After the war, the Treble chance became more popular. In this system, the bettor had to choose, from a list of more than 50 matches listed in the form, eight that he believed would end tied" %}.</p>
  	<p>{% trans "In Italy, the Totocalcio was born after the war. Its creator, the sports journalist Massimo Della Pergola, thought about the contest while in a concentration camp in Switzerland during the war. His idea was similar to the british penny points system (he also used &ldquo;1&rdquo;, &ldquo;2&rdquo; or &ldquo;x&rdquo; as symbols to denote the believed result), with the difference that each match guessed correctly would count for one point, being a draw, a home or a visitor win" %}.</p>
  	<p>{% trans "In September of 1945 he founded, with Fabio Jegher and Geo Molo, also sports journalists, the Sisal (Sport Italia società a responsabilità limitata). A few months later, in May 5th, 1946, 34000 italians participated on the first Sisal contest, with 14 matches to forecast. The great popularity of the contest led the government to take its control, renaming it to Totocalcio. In the 1950's and 1960's the popularity of the contest only increased. A nice documentary made in the 1960's (in Italian) about Totocalcio can be seen" %}<a href = "https://www.youtube.com/watch?v=QDgOd8VDIlQ">{% trans " here" %}</a>. {% trans "In the 1980's and 1990's scandals showed the action of bettors and footballers to fix results. The most famous case was the one involving the Italian international Paolo Rossi" %}.</p>
  	<p>{% trans "Contests similar to Totocalcio were created in other countries. In Spain, La Quiniela also started after the War" %}<sup><a href="#fn3" id="ref3">3</a></sup>, {% trans "but its first system was different. The bettor should forecast the winner and the number of goals scored by each team. A scoring rule determined the winner of different prizes. In 1948 the &ldquo;1&rdquo;, &ldquo;2&rdquo;, or &ldquo;x&rdquo; system was adopted, also with 14 matches per contest" %}.</p>
  	<p>{% trans "In Brazil, the Loteria Esportiva or Loteca, started in 1970. Also run by the state, the system is the same of Totocalcio and La Quiniela, but with 13 matches per contest" %}.<sup><a href="#fn4" id="ref4">4</a></sup> {% trans "The popularity of the contest only increased in the 1970's, until a scandal revealed how several bettors manipulated results buying referees, footballers and coaches. The contest never recovered its credibility, but exists to this day. The creation of other federal lotteries and contests related to football clubs, and the beggining of online betting in Brazil also contributed to diminish its popularity" %}.</p>

  	<h2>{% trans "Bruno de Finetti" %}</h2>

  	<p>{% trans "The popularity of Totocalcio and the relationship of forecasting with subjective probabilities led Bruno de Finetti to idealize a contest where constestants should submit their probabilities of each result, i.e. victory, draw or defeat of the home team, that is, exactly the contest we are promoting for the 2018 World Cup" %}.</p>
  	<p>{% trans "In unpublished notes" %}<sup><a href="#fn5" id="ref5">5</a></sup>, {% trans "he reminds an anecdote happened around 1950. He noticed, on the display window of a bar in Rome, a table where triples of positive numbers of sum 100 were shown for each match of the upcoming Sunday, under the title &ldquo;Quote del picchetto&rdquo;" %}.</p>
  	<p>{% trans "De Finetti immediataly understood that those triples were the probabilities of a group of experts named &ldquo;picchetto&rdquo;" %}<sup><a href="#fn6" id="ref6">6</a></sup>. {% trans "Not being familiar with the expression &ldquo;quote del picchetto&rdquo;, he asked the meaning of it to the owner of the bar, who answered surprised &ldquo;but, ... those are the probabilities&rdquo;" %}!</p>
  	<p>{% trans "In the early 1960's, de Finetti implemented such a contest experimentally with students and university staff as contestants (himself included). He believed that such contest would teach the most important aspects of probability theory, and in a much better way than the textbooks examples used in most of undergraduate courses on the subject" %}.</p>
  	<p>{% trans "His idea was to implement a national contest, with participation of experts (like sports journalists) and eventually announcements of the results on TV. His last writings about the subject are dated 1983, two years before his passing" %}. </p>
    <p>{% trans "Similar contests were conducted in the 1960's" %}<sup><a href="#fn7" id="ref7">7</a></sup>, {% trans "for american football, and during the 1982 WC" %}<sup><a href="#fn8" id="ref8">8</a></sup>. {% trans "Last year (2017)" %}, <a href = "https://projects.fivethirtyeight.com/nfl-predictions-game/">{% trans "Nate Silver's FiveThirtyEight</a> promoted a probabilistic contest for american football" %}.</p>


	</body>

  <hr>

<sup id="fn1">{% trans "1. [The word &ldquo;pool&rdquo; is connected with the picture of streams of money pouring into a com­mon fund, or &ldquo;pool&rdquo; from which the winners are paid after the firm has taken its expenses and profit.]" %}<a href="#ref1" title="{% trans "Jump back to footnote 1 in the text" %}.">↩</a></sup>

<br>

<br>

<sup id="fn2">{% trans "2. [Playing the football pools before the Internet involved completing by hand special coupons provided by each of the companies. Initially coupons were readily available from newsagents and tobacconists, places most frequented by the working class. The main football pool companies also provided a service where coupons were hand-delivered directly to players by various networks of collectors across the Great Britain. These collectors acted as middlemen between bettors and pools companies.]" %}<a href="#ref2" title="{% trans "Jump back to footnote 2 in the text." %}">↩</a></sup>

<br>

<br>

<sup id="fn3">{% trans "3. [Even though there are controversies about its start, it is accepted that the " %}<a href = "https://es.wikipedia.org/wiki/La_Quiniela_(España)">{% trans "first contest" %}</a>{% trans " happened in September, 22nd, 1946, with a ticket for 7 matches.]" %}<a href="#ref3" title="Jump back to footnote 3 in the text.">↩</a></sup>

<br>

<br>

<sup id="fn4">{% trans "4. [The number of matches per contest varied since then and nowadays is" %}<a href = "http://loterias.caixa.gov.br/wps/portal/loterias/landing/loteca">14</a>.]<a href="#ref4" title="Jump back to footnote 4 in the text.">↩</a></sup>

<br>

<br>

<sup id="fn5">5. [<a href = "http://digital2.library.pitt.edu/islandora/object/pitt%3A31735033466560/viewer">Notes on Probability, Prevision, and Prediction, 1982-1983, Box 5, Folder 36, Bruno de Finetti Papers, 1924-2000, ASP.1992.01, Archives of Scientific Philosophy, Special Collections Department, University of Pittsburgh</a>].<a href="#ref5" title="Jump back to footnote 5 in the text.">↩</a></sup>

<br>

<br>

<sup id="fn6">{% trans "6. [A free translation for &ldquo;picchetto&rdquo; is stake or jackpot.]" %}<a href="#ref6" title="Jump back to footnote 6 in the text.">↩</a></sup>

<br>

<br>

<sup id="fn7">{% trans "7. [See" %}<a href = "https://www.jstor.org/stable/2284212"> Robert L. Winkler, Probabilistic Prediction: Some Experimental Results, <i>Journal of the American Statistical Association</i>, Vol. 66, No. 336, p. 675-685, 1971.</a>]<a href="#ref7" title="Jump back to footnote 7 in the text.">↩</a></sup>

<br>

<br>
<sup id="fn8">{% trans "8. [See Peter Walley" %}, <i>Statistical Reasoning with Imprecise Probabilities</i>, Chapman and Hall, 1991.]<a href="#ref8" title="Jump back to footnote 8 in the text.">↩</a></sup>


  </hr>

<br>
{% endblock %}

