{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block extra-head %}

<link rel="stylesheet" href="/static/style2.css">
<script>
$( function() {
  $( "#tabs" ).tabs({
    beforeLoad: function( event, ui ) {
      ui.panel.html('<img src="/static/images/ajax-loader.gif"' +
                    'alt="Loading..." />');
    },
  });
});
</script>

{% endblock %}

{% block content %}

  	<h1>Forecasting the FIFA WC</h1>
  	<h2>Here you are the forecaster</h2>

    <p>Are you a football/soccer expert? Can you forecast the results of the 2018 World Cup matches better than a mathematical model? Here's your chance to prove it!</p>
    <p>Use the sliders below to select YOUR probabilities of each possible result (victory of each team or draw). You'll be competing against three models---<a href = "https://projects.fivethirtyeight.com/soccer-predictions/?ex_cid=irpromo">Nate Silver's FiveThirtyEight</a>, <a href = "http://chancedegol.uol.com.br">Chance de Gol</a> and <a href = "http://www.previsaoesportiva.com.br">Previsão Esportiva</a>---but also against all the other competitors. After each matchday the forecasts will be scored according to the rules---described <a href = "{% url 'games:rules' %}">here</a>---and the best forecaster will be the one with higher score after the 64 matches of this WC. Just beware that we're asking probabilistic forecasts for each match and that the scoring rules punishes overconfidence.</p>
    {% if not request.user.is_authenticated %}
    <p>Don't forget to <a href="{% url 'accounts:login' %}">sign in using Google or Facebook</a> to save your selections. After each matchday you'll be able to check how well you did against the models and everybody else playing the game.</p>
    {% endif %}

<div id="tabs">
  <ul>
    <li><a href="{% url 'games:games' %}">Make your forecasts</a></li>
    <li><a href="{% url 'games:results' %}">Check your results</a></li>
    <li><a href="{% url 'games:scoreboard' %}">Scoreboard</a></li>
    <li id="your_league"><a href="{% url 'games:league' %}">Your league</a></li>
  </ul>
</div>

{% endblock %}
