<style>
#leaguecontent a {
 color: blue
}
</style>
<div id=leaguecontent>
{% if must_signin %}
   Please sign-in first
{% elif must_have_league %}
   Please join a league or create one first.
{% else %}
   Details of your league:




   <ul>
   {% for user in users %}
     <li>
     Name: {{ user.first_name }} {{ user.last_name }}
     <br />
     Points: {{user.points}}
     <br />
     {% if user.admin %}
       Is admin
       <br />
     {% elif user.moderator %}
       Is moderator
       {% if league_user.admin %}
         | <a href="#" onclick="return post_fa(this)" data_page="remove_moderator" data_post="{{user.user_id}}">Remove moderator tools</a>
       {% endif %}
       <br />
     {% elif league_user.admin %}
       <a href="#" onclick="return post_fa(this)" data_page="add_moderator" data_post="{{user.user_id}}">Set as moderator</a>
       <br />
     {% endif %}

     {% if not user.admin and not user.moderator and league_user.moderator or league_user.admin %}
       {% if user.user_id != league_user.user_id %}
         <a href="#" onclick="return post_fa(this)" data_page="remove_user" data_post="{{user.user_id}}">Remove from league</a>
         <br />
       {% endif %}
     {% endif %}
     <br />
     </li>
   {% endfor %}
   </ul>


   <hr />
   <br />
   <ul>
   {% if league_user.moderator and not league_user.admin %}
      <li><a href="#" onclick="return post_fa(this)" data_page="remove_moderator" data_post="{{league_user.user_id}}">Abdicate moderating powers</a></li>
   {% endif %}

   {% if league_user.admin %}
      <li>Transfer league admin</li>
   {% endif %}

   <li><a href="#" onclick="return post_fa(this)" data_page="leave" data_post="pass">Leave league</a></li>
   </ul>


   {% if league_user.moderator or league_user.admin %}
   <br />
   <hr />
   <br />
   Users invited to league:
   <ul>
     {% if users_invited %}
       {% for user in users_invited %}
          <li>User {{ user }}</li>
       {% endfor %}
     {% else %}
     <li>No invited user pending acceptance.</li>
     {% endif %}
     <li>Invite new user from email address:

     <form href="#" onsubmit="return post_ff(this)" data_page="invite_join">
       <input type="text" class="data_holder" name="email"/><input type="submit" value="add" /><strong class="result_holder"></strong>
     </form>

     </li>
   </ul>
   {% endif %}


<link rel="stylesheet" href="/static/jquery-ui-1.12.1/jquery-ui.css">
<script src="/static/jquery-1.12.4.js"></script>
<script src="/static/jquery-ui-1.12.1/jquery-ui.js"></script>

<span id="crfs_token" style="display: none">
  {% csrf_token %}
</span>
<script>
function post_ff(elem_main) {
  var elem_main = $(elem_main);
  var elem_data = elem_main.children(".data_holder");
  var elem_result = elem_main.children(".result_holder");

  var page = elem_main.attr('data_page');
  var post = elem_data.val();

  return post_ready(elem_result, page, post);
}
function post_fa(elem_main) {
  var elem_main = $(elem_main);
  var page = elem_main.attr('data_page');
  var post = elem_main.attr('data_post');

  var elem_result = elem_main.wrap("<strong></strong>").parent();

  return post_ready(elem_result, page, post);
}
function post_ready(elem, page, post) {
  elem.html("Processing");
  $.ajax({
    type: "POST",
    url: "{% url 'games:league' %}" + page,
    data: "data=" + encodeURIComponent(post) +
          "&csrfmiddlewaretoken=" +
          $("[name=csrfmiddlewaretoken]").val(),
    success: function(res){},
    dataType: "html",
  })
  .done(function(res) {
    elem.html("<span style='color: green'>Sucess</span>");
  })
  .fail(function(res) {
    rt = res.responseText
    switch (rt) {
    case "league_full":
        text = "league is full";
        break;
    case "user_already_has_league":
        text = "the user already has a league";
        break;
    case "multiple_users_with_same_email":
        text = "multiple users subscribed with this email";
        break;
    case "invalid_email":
        text = "invalid email address";
        break;
    case "not_admin_nor_mod":
        text = "you are not the admin nor a moderator";
        break;
    case "not_admin":
        text = "you are not the admin";
        break;
    case "must_use_post":
        text = "you must use http POST";
        break;
    case "must_empty_or_transfer_group":
        text = "you must remove everyone or transfer admin of group before leaving";
        break;
    case "cannot_autoremove":
        text = "you cannot remove yourself, use leave instead";
        break;
    case "name_taken":
        text = "this name has already been taken";
        break;
    default:
        text = "unknown error";
        if (rt.length <= 50) {
          text = " " + rt;
        }
    }
    elem.html("<span style='color: red'>Failure: " + text + "</span>");
  })
  return false;
}
</script>


{% endif %}
</div>
