{% load i18n %}

<style>
#leaguecontent a {
 color: blue
}
</style>
<div id=leaguecontent>

{% if must_signin %}
   {% trans "Please" %} <a href="{% url 'accounts:login' %}">{% trans "sign in" %}</a> {% trans "first" %}
{% elif must_have_league %}


   {% if league_join %}
      {% trans "Do you want to join" %} {{ league_join.name }}? <a href="#" onclick="return post_fa(this)" data_page="ask_join" data_post="{{league_join.id}}">{% trans "Yes, ask to join" %}</a>
   {% else %}
   {% trans "You are not member of a league right now" %}.
   {% trans "You can join a league or create one" %}.
   {% endif %}


  {% if available_leagues %}
     <hr />
     {% trans "Leagues available to join" %}:
     <ul>
     {% for league in available_leagues %}
       <li>{{ league.name }}
       {% if league.asked %}
         <strong>{% trans "Asked to join" %}</strong> ({% trans "waiting for moderator approval" %})
       {% else %}
         <a href="#" onclick="return post_fa(this)" data_page="ask_join" data_post="{{league.id}}">{% trans "ask to join" %}</a>
       {% endif %}
       </li>
     {% endfor %}
     </ul>
  {% endif %}
  <hr />
  {% trans "Create new league" %}:
  <form href="#" onsubmit="return post_ff(this)" data_page="create">
      {% trans "Name" %}: <input type="text" class="data_holder" name="name" /><input type="submit" value="{% trans "create" %}" /><strong class="result_holder"></strong>
  </form>


{% else %}
   <div style="text-align: center; margin-bottom: 10px; font-size: 20px">
     {% trans "League " %}<strong>{{league.name}}</strong>
   </div>


   {% if league_user.moderator or league_user.admin %}
   {% trans "Users who asked to join the league" %}:
   <ul>
     {% if users_invited %}
       {% for user in users_invited %}
          <li>{% trans "User" %} {{ user.user.first_name }} {{ user.user.last_name }} <a href="#" onclick="return post_fa(this)" data_page="add_user" data_post="{{ user.user.id }}">{% trans "add user" %}</a></li>
       {% endfor %}
     {% else %}
     <li>{% trans "No user pending acceptance" %}.</li>
     {% endif %}
     <!-- <li>Share the league URL to invite new users:
     </li> -->
   </ul>
   <hr />
   <br />
   {% endif %}


   {% trans "Leaderboard" %}:

   <ol>
   {% for user in users %}
     <li>
     {% trans "Name" %}: {{ user.first_name }} {{ user.last_name }}
     <br />
     {% trans "Points" %}: {{user.points}}
     <br />
     {% if user.admin %}
       {% trans "Is admin" %}
       <br />
     {% elif user.moderator %}
       {% trans "Is moderator" %}
       {% if league_user.admin %}
         | <a href="#" onclick="return post_fa(this)" data_page="remove_moderator" data_post="{{user.user_id}}">{% trans "Remove moderator tools" %}</a>
       {% endif %}
       <br />
     {% elif league_user.admin %}
       <a href="#" onclick="return post_fa(this)" data_page="add_moderator" data_post="{{user.user_id}}">{% trans "Set as moderator" %}</a>
       <br />
     {% endif %}

     {% if league_user.admin and not user.admin %}
       <a href="#" onclick="return post_fa(this)" data_page="transfer_admin" data_post="{{user.user_id}}" class="admin_transfer">{% trans "Transfer admin powers to this user" %}<br /></a>
     {% endif %}

     {% if not user.admin and not user.moderator and league_user.moderator or league_user.admin %}
       {% if user.user_id != league_user.user_id %}
         <a href="#" onclick="return post_fa(this)" data_page="remove_user" data_post="{{user.user_id}}">{% trans "Remove from league" %}</a>
         <br />
       {% endif %}
     {% endif %}
     </li>
   {% endfor %}
   </ol>


   <hr />
   <br />
   <ul>
   {% if league_user.moderator and not league_user.admin %}
      <li><a href="#" onclick="return post_fa(this)" data_page="remove_moderator" data_post="{{league_user.user_id}}">{% trans "Abdicate moderating powers" %}</a></li>
   {% endif %}

   {% if league_user.admin %}
      <style>
        .admin_transfer {
           display: none;
           font-weight: bold;
        }
      </style>
      <script>
        transfer_admin = function() {
            $(".admin_transfer").css('display', 'inline');
            $("#admin_transf").css("font-weight", "bold");
            $("#admin_transf").css("color", "red");
            $("#admin_transf").html("Attention: you will no longer be the admin of this group. This action is not reversible");
        return false;
        }
      </script>

      <li><span id="admin_transf"><a href="#" onclick="return transfer_admin()">{% trans "Transfer league admin powers" %}</a></span></li>
   {% endif %}

   <li><a href="#" onclick="return post_fa(this)" data_page="leave" data_post="pass">{% trans "Leave league" %}</a></li>
   </ul>

{% endif %}
<span id="crfs_token" style="display: none">
  {% csrf_token %}
</span>
<script>
function post_ff(elem_main) {
  var elem_main = $(elem_main);
  var elem_data = elem_main.find(".data_holder");
  var elem_result = elem_main.find(".result_holder");

  var page = elem_main.attr('data_page');
  var post = elem_data.val();

  return post_ready(elem_result, page, post);
}
function post_fa(elem_main) {
  var elem_main = $(elem_main);
  var page = elem_main.attr('data_page');
  var post = elem_main.attr('data_post');
  var confirmed = elem_main.attr('confirmed');

  if (confirmed) {
      var elem_result = elem_main.parent().wrap("<span></span>").parent();
      return post_ready(elem_result, page, post);
  }
  else {
      elem_main = elem_main.wrap("<span></span>");
      elem_main.attr('confirmed', 1);
      elem_main.html('{% trans "Yes, confirm" %}!');
      elem_main.parent().html("<strong>{% trans "Are you sure" %}? |</strong> " +
        ' <a href="#" onclick="return post_fa_cancel(this)">{% trans "No, cancel" %}!</a> <strong>|</strong> ' +
        elem_main.parent().html());
      return false;
  }
}
function post_fa_cancel(elem) {
  $(elem).parent().html("<strong>Canceled</strong>");
  return false;
}
function post_ready(elem, page, post) {
  elem.wrap("<strong></strong>");
  elem.html('{% trans "Processing" %}');
  $.ajax({
    type: "POST",
    url: "{% url 'games:league' %}" + page,
    data: "data=" + encodeURIComponent(post) +
          "&csrfmiddlewaretoken=" +
          $("[name=csrfmiddlewaretoken]").val(),
    success: function(res){},
    dataType: "html",
  })
  .done(function(res) {
    elem.html("<span style='color: green'>Sucess</span>");
    setTimeout(function(){
      $('#tabs').tabs('load', '#your_league'); }, 1000);
  })
  .fail(function(res) {
    rt = res.responseText
    switch (rt) {
    case "name_taken":
        text = '{% trans "this name has already been taken" %}';
        break;
    case "invalid_league_name":
        text = '{% trans "invalid name. Must only cointain letters, numbers and spaces" %}';
        break;
    case "invalid_league_name_length":
        text = '{% trans "league name must have between 5 and 50 characters" %}';
        break;
    case "league_full":
        text = '{% trans "league is full" %}';
        break;
    case "user_already_has_league":
        text = '{% trans "the user already has a league" %}';
        break;
    case "cannot_remove_adm_nor_mod":
        text = '{% trans "only the admin can remove moderators" %}';
        break;
    case "not_admin_nor_mod":
        text = '{% trans "you are not the admin nor a moderator" %}';
        break;
    case "not_admin":
        text = '{% trans "you are not the admin" %}';
        break;
    case "must_use_post":
        text = '{% trans "you must use http POST" %}';
        break;
    case "must_empty_or_transfer_group":
        text = '{% trans "you must remove everyone or transfer admin powers before leaving" %}';
        break;
    case "cannot_autoremove":
        text = '{% trans "you cannot remove yourself, use leave instead" %}';
        break;
    case "user_did_not_asked_to_join":
        text = '{% trans "this user did not asked to join league" %}';
        break;
    default:
        text = '{% trans "unknown error" %}';
        if (rt.length <= 50) {
          text = " " + rt;
        }
    }
    elem.html("<span style='color: red'>Failure: " + text + "</span>");
  })
  return false;
}
</script>

</div>
