{% extends 'base.html' %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>My test page</title>
    <link href="style1.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        a { text-decoration : none; color : blue; }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type = "text/css">
  </head>
  <body>

<h1>Objectives</h1>

<p>Before we state our goals, it is important to mention that the team working in this project is not sponsored or related, by any means, to betting websites or organizations.</p>

<p>Our objectives implementing a football/soccer prevision contest are strictly pedagogical and academic, being:</p> 

<ol>

	<li> Use a popular sport event to motivate young students and math teachers, especially at pre-university level, to learn and discuss the main aspects of probability theory.</li>

</ol>

<p>Introductory probability textbooks usually present the subject exploring random devices based on dice, extraction of marbles from urns and tossing of coins. These examples have a pedagogical value but the questions related to them naturally point to more or less complex combinatoric calculus exercises, and the most important conceptual aspects of probability theory are avoided or poorly treated. As consequence, several students have the impression that probability theory is only about that kind of numeric exercise.</p>

<p>In football, like in every specific case of interest, the evaluation of probabilities require (and this is the essential point) immagination, inteligence, subconcious practice, self-criticism and ability to avoid inconsistencies when evaluating several events at the same time.</p></li>

<ol start="2">

	<li> Collect a dataset that will help the members of our group to develop academic research related to different kinds of probabilistic prevision.</li>

</ol>

<p>Our research group is interested in different aspects of probabilistic prevision, not only related to football or sports events. By showing how people face uncertain or random events, the data provided by the contest promoted in this website will help us to answer several questions involving probabilistic prevision. Some of these questions are summarized below.<sup><a href="#fn1" id="ref1">1</a></sup></p>

		<ol type="i">

		<li> How does the practice of probability evaluation based on a contest like the one we are promoting improve our aptitude to express differences in beliefs as differences in numbers? </li>

		<ol type="a">

			<li>How does such a practice improve &ldquo;competence&rdquo; or the capability of making &ldquo;reasonable&rdquo; probability evaluations?</li>

		</ol>

		<li> How the &ldquo;competence&rdquo; of a given person vary from field to field of events (for example, from football of different championships, or to meteorological, political, economical, or medical forecasting).</li>

		<ol type="a">

			<li> How &ldquo;competence&rdquo; might be influenced by other factors such as short or long reflection before writing down the figures, reading news or opinions of columnists about the subject, conditions of health or of spirit, etc.</li>

			<li> How one's evaluations change if repeated after some delay in time (when one does, or does not, remember one's former evaluations); and how it is possible to explain agreements or systematic differences between independent evaluations by different people.</li>

		</ol>

		<li> Considering the best forecasters as a group, what about their &ldquo;average opinion&rdquo;, that is, the evaluation in which each probability is calculated as the arithmetic mean of the corresponding evaluations of the individual members? Would such an average opinion be more successful than any single one? And what about the average of the few most successful members?</li>

		<li> Analysing the best forecasters, might it be possible to infer some (probably unconscious) rule by which he/she takes into account the pertinent facts (for football, the outcomes of recent matches and present relative rank of each pair of teams)?</li>

		<ol type="a">

			<li> Analysing such rules, might some be discovered that would have been more successful than most or all of the contestants?</li>

			<li> Are there sufficient grounds to accept such a rule as &ldquo;significantly good&rdquo; in the sense that we believe it will probably continue to work in the future in other circumstances, and how far, say, for football in other countries or for other sports like basketball and rugby?</li>
		</ol>

		</ol>



<p>The importance of questions of this kind is not restricted to psychology and philosophy of probability and human behaviour but greatly concerns several practical fields. 
Often, important economic and medical decisions depend on the answer of an expert, and the opinion he/she is asked to reveal is, explicitly or implicitly, his evaluation of certain probabilities.</p>

</body>

<hr>

<sup id="fn1">1. [These questions were first posed by Bruno de Finetti. See chapter 3 (Does it Make Sense to Speak of &ldquo;Good Probability Appraisers&rdquo;) of <i>Probability, Induction and Statistics</i>, Wiley, 1972.]<a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup>

</hr>

{% endblock %}

