body {
  width: 800px;
  margin: 0 auto ;
  /*background-color: #FF9500;*/
  /*padding: 0 20px 20px 20px;*/
  border: none;
}

.c-1-color { background: red; }
.c-2-color { background: white; }
.c-3-color { background: blue; }

#slider-color {
        width:75%;
        margin: 0 100px;
        }

html {
  font-size: 18px; /* px means 'pixels': the base font size is now 10 pixels high  */
  width: : 800px;
  font-family: 'Playfair Display', serif;
  /*font-family: 'Crimson Text', serif;*/
  /*background-color: #3F63BF;*/
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: blue;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 20px 0;  
  color: #00539F;
  /*text-shadow: 3px 3px 1px black;*/
}

p {
  margin: 0;
  font-size: 18px;    
  line-height: 2;
  letter-spacing: 0px;
  width: 800px;
  text-align: justify;
  /*text-indent: 5%;*/
}

li {
  margin: 0;
  font-size: 18px;    
  line-height: 2;
  letter-spacing: 0px;
  text-align: justify;
  /*text-indent: 5%;*/
}

img {
  display: block;
  margin: 0 auto;
}

ol {
    counter-reset: foo;
    display: table;
}

ol > li {
    counter-increment: foo;
    display: table-row;
}

ol > li::before {
    content: counter(foo) ".";
    display: table-cell; /* aha! */
    text-align: right;
}
